<div class="container">
  <% @crafts.each do |craft| %>
    </div class = "row">
      <div class="card-product">
        <%= cl_image_tag craft.photo.key%>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= craft.name %></h2>
          <p><%= craft.price.to_i %>€</p>
          <p><%= craft.description %></p>
          <%= link_to "show", craft_path(craft) %>
          <%= link_to "Edit", edit_craft_path(craft) %>
          <%= link_to "Delete #{craft.name}",
            craft_path(craft),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
