<div class="container">
    <div class="craft-details">
      <% if @craft.photo.key %>
        <%= cl_image_tag @craft.photo.key%>
      <% end %>
      <div class="craft-details-infos">
        <div>
         <h2><%= @craft.name %></h2>
         <p><%= @craft.description %></p>
        </div>
        <h2 class="craft-details-pricing"><%= @craft.price %> €</h2>
        <% if @craftman.photo.key %>
          <%= cl_image_tag @craftman.photo.key, class: "craft-details-user avatar-bordered" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-4">
      <h3>This week availability</h3>
      <div>
        <% @available_dates.each do |date| %>
          <% if date[:available] %>
            <span class="badge badge-pill badge-success" title='<%= "#{date[:date].day}/#{date[:date].month}" %>'><%= date[:date].day %></span>
          <% else %>
            <span class="badge badge-pill badge-danger" title='<%= "#{date[:date].day}/#{date[:date].month}" %>'><%= date[:date].day %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="booking-form">
      <%= render "bookings/new", craft: @craft, booking: @booking %>
    </div>
</div>


