<div class = container>
    <%= cl_image_tag @user.photo.key, class: "center avatar-huge"%>

    <h1 class = center> <%= @user.first_name %> <%= @user.last_name %></h1>
    <%= @user.username %>
    <p><%= @user.about %></p>

    <% if  @user.username == current_user.username%>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <% end %>

    <% if  @user.username == current_user.username%>
    <div class = topright>
      <%= link_to 'View my clients', clients_path, class: "toprightbutton"%>
      <%= link_to 'View my Bookings', user_all_path(@user) , class: "toprightbutton"%>
    </div>
    <% end %>

    <% if @crafts != nil %>
      <% @crafts.each do |craft| %>
        <div class="user-all">
          <div class="wrapper">
            <div class="card">
                <input type="checkbox" id="craft-<%=craft.id%>" class="more" aria-hidden="true">
                <div class="content">
                    <div class="front" style="background-image: url(<%= cl_image_path craft.photo.key%>)">
                        <div class="inner">
                            <h2><%= craft.name %></h2>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <label for="craft-<%=craft.id%>" class="button" aria-hidden="true">
                                More
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class="info">
                                <span><%= craft.bookings.count %></span>
                                <div class="icon">
                                    <i class="fas fa-book-open"></i>
                                    <span><%= pluralize craft.bookings.count, "booking" %></span>
                                </div>
                            </div>

                            <div class="description">
                                <p><%= craft.description %></p>
                            </div>
                            <div class="location"><%= craft.address %></div>
                            <div class="price"><%= craft.price.floor %>€ / day</div>
                            <label for="craft-<%=craft.id%>" class="button return" aria-hidden="true">
                                <i class="fas fa-arrow-left"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
