<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-5">
  <a class="navbar-brand" href="/">
    <%= cl_image_tag("logo_zzu1mk") %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="authentication d-flex align-items-center">
    <% if current_user %>
      <p class="my-0 mr-3 text-white"><%= current_user.first_name %></p>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, id: "navbarDropdown", class: "rounded-circle avatar dropdown-toggle", data: { toggle: "dropdown"}%>
      <% else %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%=asset_path 'noavatar.png' %>" />
      <%end%>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "ml-3 btn"%>
      <%= link_to "Log in", new_user_session_path, class: "ml-3 btn"%>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item"  %>
            <%= link_to "Add a new craft",new_craft_path , class: "dropdown-item" %>
            <%= link_to "Edit profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to "See my crafts", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
</div>


