<!DOCTYPE html>
<html>
  <head>
    <title>Guilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div data-controller="notifications">
      <div class="notifications" data-target="list">
      </div>
    </div>
    <div class="page-wrapper">
      <%= render 'shared/navbar' %>
      <div class="content-wrap">
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
